{% extends "diet/layout.html" %}
{% block content %}

<div class="jumbotron">
        <div class="container">
          <h2>안녕 꿀뚱아~</h2>
          <a href="/signup" class="btn btn-success">회원가입</a>
          <a href="/signin" class="btn btn-success">로그인</a>
          <hr>
          <iframe
            allow="microphone;"
            width="500"
            height="550"
            src="https://console.dialogflow.com/api-client/demo/embedded/32f6dbc4-69c0-446d-8959-9272a572d157">
        </iframe>
        </div>
      </div>
{% endblock %}